* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 50px;
}

.h1-orange {
    color: orange;
}

.main-container {
    display: flex;
    padding: 30px;
}

.flex-container {
    width: 50%;
    padding-left: 40px;
}

.flex-container img {
    padding-left: 30%;
    margin-top: 25px;
}

.second-img {
    padding-right: 20%;
}

.anchor-button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background: linear-gradient(orange, tomato);
    border-radius: 5px;
}

.dream-big {
    padding-top: 10%;
    padding-right: 50px;
}